@import "modern-normalize/modern-normalize.css";
@import "_var";
@import "_mixins";
@import "_fonts";

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.button {
  text-align: center;
  display: block;
  text-decoration: none;
  padding: 10px 15px;
  width: 100%;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.button-primary {
  background: $black;
  @include br(10px);
  @include trs(0.3s);
}

.input, .textarea {
  width: 100%;
  outline: none;
  background: $black;
  @include br(10px);
  border: 1px solid #4D4D4D;
  padding: 11px 12px;
  font-size: 14px;
  line-height: 17px;
  color: #ffffffcf;
}

.textarea {
  resize: none;
  width: 100%;
  height: 200px;
}

.form {
  &-title {
    color: #fff;
    text-align: center;
    margin: 0 0 1em 0;
  }

  label {
    margin: 0 0 1em 0;
    display: block;

    span {
      margin: 0 0 1em 0;
      color: #fff;
      display: block;
    }
  }

  .button {

  }
}